body {
	background-color: red;
}

h1 {
	font-size: 3em;
	color:white;
	background-color: black;
	padding: 30px;
	margin-left: 400px;
	border-radius: 34px;
	text-shadow: 3px 3px 2px #fff;
}

p {
	text-align: center;
	margin-left: 300px;
	font-family: "Verdana";
	font-size: 5em;
}
