body {
	background-image: url("../res/cyan.png");
	background-repeat: repeat-x;
	background-repeat: repeat-y;

}

h1 {
	color: white;
	font-size: 5em;
	font-family: "ComicSans";
	margin-left: 10px;
	text-shadow: 4px 8px 16px #000;
}

p {
	text-align: right;
	margin-left: 10px;
	font-family: "Verdana";
}
